<html>
   <head>
       <title>Biblios++</title>
   </head>
   <body>
   
      <h3>Books</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Author</label><br>
         <input type = "text" name = "author" placeholder = "Author" /><br>
         <label for = "email">Title</label><br>
         <input type = "text" name = "title" placeholder = "Title" /><br>
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>